<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.restserv.model.mappers.TransactionMapper">
    <resultMap id="TransactionRM" type="com.example.restserv.model.Transaction">
        <id column="TRANSACTION_ID" javaType="java.lang.String" jdbcType="VARCHAR" property="transactionId"/>
        <result column="OPERATION_ID" javaType="java.lang.String" jdbcType="VARCHAR" property="operationId"/>
        <result column="ACCOUNTING_DATE" javaType="java.time.LocalDate" jdbcType="DATE" property="accountingDate"/>
        <result column="VALUE_DATE" javaType="java.time.LocalDate" jdbcType="DATE" property="valueDate"/>
        <result column="TYPE_ENUMERATION" javaType="java.lang.String" jdbcType="VARCHAR" property="typeEnumeration"/>
        <result column="TYPE_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" property="typeValue"/>
        <result column="AMOUNT" javaType="double" jdbcType="NUMERIC" property="amount"/>
        <result column="CURRENCY" javaType="java.lang.String" jdbcType="VARCHAR" property="currency"/>
        <result column="DESCRIPTION" javaType="java.lang.String" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="allColumnsTransactionUnqualified">
        TRANSACTION_ID, OPERATION_ID, ACCOUNTING_DATE, VALUE_DATE, TYPE_ENUMERATION, TYPE_VALUE, AMOUNT, CURRENCY, DESCRIPTION
    </sql>

    <select id="selectAll" resultMap="TransactionRM">
        SELECT TRANSACTION_ID, OPERATION_ID, ACCOUNTING_DATE, VALUE_DATE, TYPE_ENUMERATION, TYPE_VALUE, AMOUNT, CURRENCY, DESCRIPTION
        FROM TRANSACTION
    </select>

    <select id="selectByPk" resultMap="TransactionRM">
        SELECT TRANSACTION_ID, OPERATION_ID, ACCOUNTING_DATE, VALUE_DATE, TYPE_ENUMERATION, TYPE_VALUE, AMOUNT, CURRENCY, DESCRIPTION
        FROM TRANSACTION
        WHERE TRANSACTION_ID = #{transactionId, jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.example.restserv.model.Transaction">
    INSERT INTO TRANSACTION (
        TRANSACTION_ID
    ,     OPERATION_ID
    ,     ACCOUNTING_DATE
    ,     VALUE_DATE
    ,     TYPE_ENUMERATION
    ,     TYPE_VALUE
    ,     AMOUNT
    ,     CURRENCY
    ,     DESCRIPTION
    ) VALUES (
            #{transactionId, jdbcType=VARCHAR}
        ,     #{operationId, jdbcType=VARCHAR}
        ,     #{accountingDate, jdbcType=DATE}
        ,     #{valueDate, jdbcType=DATE}
        ,     #{typeEnumeration, jdbcType=VARCHAR}
        ,     #{typeValue, jdbcType=VARCHAR}
        ,     #{amount, jdbcType=NUMERIC}
        ,     #{currency, jdbcType=VARCHAR}
        ,     #{description, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update" parameterType="com.example.restserv.model.Transaction">
        UPDATE TRANSACTION
        SET
            OPERATION_ID = #{operationId, jdbcType=VARCHAR},
            ACCOUNTING_DATE = #{accountingDate, jdbcType=DATE},
            VALUE_DATE = #{valueDate, jdbcType=DATE},
            TYPE_ENUMERATION = #{typeEnumeration, jdbcType=VARCHAR},
            TYPE_VALUE = #{typeValue, jdbcType=VARCHAR},
            AMOUNT = #{amount, jdbcType=NUMERIC},
            CURRENCY = #{currency, jdbcType=VARCHAR},
            DESCRIPTION = #{description, jdbcType=VARCHAR}
         WHERE TRANSACTION_ID = #{transactionId, jdbcType=VARCHAR}
    </update>

</mapper>
